<div class="commis-list">
    <div class="list-box">
        <ul class="box">
            <li class="box-head">
                <p>对赌开始时间</p>
                <p>地区</p>
                <p>项目组/部门</p>
                <p>内部项目名称</p>
                <p>分值</p>
                <p>计划利润额</p>
                <p>实际分值(利润额)</p>
                <p>体系</p>
                <p>目标-部门分配基础权重</p>
                <p>目标基础得分</p>
                <p>计划基础得分</p>
                <p>实际基础得分</p>
                <p>目标制约得分</p>
                <p>计划制约得分</p>
                <p>实际制约得分</p>
                <p>目标体系总得分</p>
                <p>计划体系总得分</p>
                <p>实际体系总得分</p>


                <p>目标-部门分配对赌权重</p>
                <p>指标编号</p>
                <p>指标名称</p>
                <p>部门对赌承诺-确定目标值</p>
                <p>实际目标值</p>
                <p>项目对赌是否达标</p>
                <p>目标对赌得分</p>
                <p>计划对赌得分</p>
                <p>实际对赌得分</p>


                <p>未达标分配体系</p>
                <p>未达标分配</p>

            </li>
            <li class="box-body"  ng-repeat="lists in systemLists" ng-click="selectList(lists)">
                <p class="check-three" >
                    <label class="tick  {{lists._selectList?'select':''}}"></label>
                </p>
                <span>{{::lists.betTime}}</span>
                <span>{{::lists.area}}</span>
                <span>{{::lists.projectGroup}}</span>
                <span>{{::lists.projectName}}</span>
                <span>{{::lists.scoreProfit}}</span>
                <span>{{::lists.planProfit}}</span>
                <span>{{::lists.practiceProfit}}</span>
                <div class="feature">
                    <ul class="body-ul">
                        <li  ng-repeat="list in lists.systemBetBBOS">
                                           <span class="ul-span">{{::list.system}}
                                                <i class="ul-icon">
                                                    <svg role="img" class="del">
                                                     <use xlink:href="#delete"></use>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span>
                                               {{::list.baseWeight}}
                                            </span>
                                           <span>
                                               {{::list.basesScore}}
                                            </span>
                                           <span>
                                               {{::list.basesScorePlan}}
                                            </span>
                                           <span>
                                               {{::list.basesScorePractice}}
                                            </span>
                                           <span>
                                               {{::list.restrictScore}}
                                            </span>
                                           <span>
                                               {{::list.restrictScorePlan}}
                                            </span>
                                            <span>
                                               {{::list.restrictScorePractice}}
                                            </span>
                                            <span>
                                               {{::list.systemTotalScore}}
                                            </span>
                                            <span>
                                               {{::list.systemTotalScorePlan}}
                                            </span>
                                            <span>
                                               {{::list.systemTotalScorePractice}}
                                            </span>
                                            <p>
                                                <span ng-repeat="lis in list.systemBetCBOS">
                                                    <i>{{::lis.betWeight}}</i>
                                                    <i>{{::lis.indexNum}}</i>
                                                    <i>{{::lis.indexName}}</i>
                                                    <i>{{::lis.confirmTargetValue}}</i>
                                                    <i>{{::lis.actualTargetValue}}</i>
                                                    <i>{{::lis.standard}}</i>
                                                    <i>{{::lis.betScore}}</i>
                                                    <i>{{::lis.betScorePlan}}</i>
                                                    <i>{{::lis.betScorePractice}}</i>
                                                </span>

                                            </p>
                            <p class="p1">
                                <span ng-repeat="liss in lis.systemBetDBOS">
                                    <i>{{::liss.unmetAllocationSystem}}</i>
                                    <i>{{::liss.unmetAllocation}}</i>
                                </span>

                        </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
        <div class="module">
            <div class="see-module">
                <p class="see-type">体现类型</p>
                <p class="see-description"></p>
                <button class="btn" modclose>关闭</button>
            </div>
        </div>
        <footer class="footer">
            <pagination count="abili.itemsCount" take="abili.take" activate="abili.activatePage"></pagination>
        </footer>
    <div class="delete mod" ng-show="delShow">
        <div class="del-head">
            <h5>温馨提示</h5>
        </div>
        <div class="del-con">
            <p>确定要删除这条数据？</p>
            <div class="btn">
                <button ng-click="delFn()">确定</button>
                <button ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
<div id="modalbg" ng-show="delShow"></div>